<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/home.css">
    <link rel="stylesheet" href="../styles/root.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
    <div class="side_bar disable">
        <div class="icon_menu">
            <span class="icon material-symbols-outlined" >
                menu
            </span>
        </div>
        <ul class="disable">
            <span class="salas">Salas Disponíveis</span>
            <li><span class="opc_img material-symbols-outlined">sports_soccer</span><span class="opc_text">Esportes</span></li>
            <li><span class="opc_img material-symbols-outlined">spa</span><span class="opc_text">Saúde e beleza</span></li>
            <li><span class="opc_img material-symbols-outlined">movie</span><span class="opc_text">Filmes e series</span></li>
            <li><span class="opc_img material-symbols-outlined">sports_esports</span><span class="opc_text">Jogos</span></li>
            <li><span class="opc_img material-symbols-outlined">menu_book</span><span class="opc_text">Livros</span></li>
        </ul>
    </div>
    <div class="chat">Bem-Vindo</div>

    <script src="../scripts/home.js"></script>
</body>
</html>
