<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/index.css">
    <link rel="stylesheet" href="../styles/root.css">
    <title>Document</title>
</head>
<body>
    <main id='conteiner'>
        <form action="./home.html">
            <input type="text" maxlength="22" name="nome" id="inome" oninput="Input_event()" placeholder="Digite o nome de usuário" required minlength="3" autocomplete="off">
            <input class="submit" type="submit" oninput="sub()" value="" style="display: none;">
        </form>
        <img src="../enter-png-open-2000.png" alt="">
    </main>
<script src="../scripts/index.js"></script>    
</body>
</html>
