<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/index.css">
    <link rel="stylesheet" href="../styles/root.css">
    <title>Document</title>
</head>
<body>
    <main id='conteiner'>
        <form action="./home.html">
            <input type="text" name="nome" id="inome" oninput="Input_event()" placeholder="Digite o nome de usuário" required minlength="3" autocomplete="off">
            <input type="submit" value="eqe2e" style="display: none;">
        </form>
        
    </main>
<script src="../scripts/script.js"></script>    
</body>
</html>