body{
  display: flex;
  width: 100vw;
  background-image: var(--linear-color);
  height: 100vh;
  overflow-x: hidden;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.user_name{
  color: var(--color);
  font-size: 15px;
  top: 0;
  right: 0;
  padding: 15px;
  position: fixed;
}

.bem_vindo{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: absolute;
  top: 40%;
}

.boas_vindas{
  color: var(--color);
  font-size: clamp(1.5vw, 25px, 28px);
  text-align: center;
  margin-bottom: 20px;
}

.text_bem_vindo{
  color: var(--color_disable);
  font-size: clamp(1.2vw, 25px, 28px);
  text-align: center;
  line-height: 40px;
}

.chat{
  display: flex;
  justify-content: center; 
  align-items: center;
  width: 100%;
  height: 100vh;
  font-size: xx-large;
  color: var(--color);
  flex-direction: column; 
}

#mensagens{
  margin-top: 60px;
  margin-left: 100px;
  display: flex;
  justify-content: center; 
  align-items: center;
  gap: 18px;
  width: 100%;
  flex-direction: column;
  padding-bottom: 100px;
  max-width: 1000px;
  min-width: none;
  z-index: -2;
}

.mensagem {
  
  letter-spacing: 1px;
  font-size: 20px;
  align-self: flex-start; /* Alinha a mensagem ao topo */
  padding: 10px;

  color: #ffffff;
  background-color: #797979;
  overflow-wrap: break-word;
  max-width: 60%;
  border-radius: 5px;
}

#meuFormulario{
  display: none;
  position: fixed;
  justify-content: space-between;
  margin-bottom: 20px;
  bottom: 0px;
  width: 50%;
  text-align: center;
  border-radius: 20px;
  background-color: #1D1D1D;
  padding: 10px;
  
}
#texto{
  font-size: 18px;
  border: none;
  width: 85%;
  color: white;
  outline: none;
  background-color: transparent;
}

#submitButton{
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 100px;
  background-color: #89744B;
}



#submitButton > img{
  width: 20px;
  height: 20px;
}

.blacker{
  background-image: linear-gradient(to top, #121212 , transparent);
  width: 100%;
  height: 100px;
  z-index: -1;
  position: fixed;
  bottom: 0;

}