body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
main#conteiner{
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background: var(--linear-color)
    
}

main input{
    color: rgba(246, 239, 226, 0.514);
    border:none;
    outline: none;
    background-color: transparent;
    font-size: 32px ;
    
}

img{
    position: absolute;
    bottom: 50px;
    right: 50px;
    width: 100px;
    transform: scale(120%);
    transition: .2s;
    opacity: .1;
}

.act{
    display: block;
    position: absolute;
    bottom: 50px;
    right: 50px;
    width: 100px;
    opacity: .7;
    opacity: .6;
    transform: scale(100%);
}

@media (max-width: 700px){
    main>input{
        font-size: 20px;
    }
}

