.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
  }
  
  .side_bar{
    position: relative;
    z-index: 2;
  }
  
  .side_bar.disable{
   width: 0px;
  }
  
  .side_bar > .icon_menu{
    position: absolute;
    cursor: pointer;
    padding: 0px;
    z-index: 1;
    user-select: none;
    padding: 5px;
  }
  
  .side_bar > .icon_menu > .icon{
    font-size: 40px;
    color: var(--color_disable);
    transition: .1s;
  }

  .side_bar > .icon_menu > .icon.act{
    transform: rotateX(40deg);
  }


  .side_bar > .icon_menu:hover > .icon{
    font-size: 40px;
    color: var(--color);
  }
  
  .side_bar > ul{
    padding: 50px 0px 0px 0px;
    background-color: #0e0e0efb;
    width: 200px;
    height: 100vh;
    transition: .3s;
  }
  
  .side_bar > .disable{
    left: -300px;
    transform: translateX(-300px);
  }
  
  .side_bar > ul > .salas{
    color: rgba(255, 255, 255, 0.459);
    font-size: 13px;
    padding-left: 10px;
    line-height: 20px;
  }
  
  .side_bar > ul > li {
    line-height: 60px;
    cursor: pointer;
    border: 3px solid transparent;
    transition: .3s;
    color: rgba(255, 255, 255, 0.459);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-items: center;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    padding-left: 10px;
    gap: 10px;
    border-left: none;
  }
  
  .side_bar > ul > li:hover{
    background-color: rgba(255, 255, 255, 0.027);
    border-right: 3px solid white;
    border-left: none;
    color: white;
  }
  
  .side_bar > ul > li > .opc_img{
    color: var(--color_disable);
    transition: .2s;
  }
  
  .side_bar > ul > li:hover > .opc_img{
    color: var(--color);
  }
  
  .side_bar > ul > li.act{
    background-color: rgba(255, 255, 255, 0.027) !important;
    border-right: 3px solid white !important;
    border-left: none !important;
    color: white !important;
  }

  .position_fixed{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
  }

  .block_menu{
    width: 225px;
  }

  .block_menu.act{
    width: 0;
  }

  .block_menu.act2{
   width: 0;
  }